<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rpll.okeoke.bettingplatform">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.MainActivity" />
        <activity
            android:name=".Controller.RegisterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Controller.FirstActivity" />
        <activity
            android:name=".Controller.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Controller.ChatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Controller.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".Controller.TopUpActivity" />
        <activity android:name=".Controller.EditProfileActivity" />
        <!-- <activity android:name=".View.popup_topup"></activity> -->
        <activity android:name=".Controller.WithdrawActivity" />
        <activity android:name=".Controller.BetDetailActivity" />
        <activity android:name=".Controller.AboutActivity" />
        <activity android:name=".Controller.ReportActivity" />
        <activity android:name=".Controller.HelpActivity" />
        <activity android:name=".Controller.AdminActivity" />

        <activity android:name=".Controller.AddMatchActivity" />
        <activity android:name=".Controller.ViewMatchActivity"></activity>
        <activity android:name=".Controller.ViewReportActivity" />
        <activity android:name=".Controller.ViewDetailReportActivity" />
        <activity android:name=".Controller.EditMatchActivity"></activity>
    </application>

</manifest>